@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

#root {
  min-height: 100vh;
  background-color: $neutral;
  @include flex-display(column);

  .main {
    @include flex-display(column);
    flex-grow: 1;
  }

  .app__loader {
    margin-top: rem(256px);
  }
}