@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

#root {
  .show-card {
    position: relative;
    max-width: rem(450px);
    //margin-left: auto;
    //margin-right: auto;

    &__title--hover {
      color: $primary;
    }

    &__btn {
      position: absolute;
      top: rem(12px);
      right: rem(8px);
    }
  }
}