@use "../../styles/partials/mixins" as *;

#root {
  .show-details {
    &__season-title {
      margin: 0 auto 0 0;
    }

    &__season-header, &__show-btns {
      @include flex-display(column, stretch, flex-start, rem(14px));
      margin-bottom: rem(14px);
      @include tablet {
        @include flex-display(row, flex-end, $gap: rem(14px));
      }
    }

    &__show-btns {
      @include flex-display(column, stretch, flex-end, rem(14px));
      @include tablet {
        @include flex-display(row, flex-end, $gap: rem(14px));
      }
    }

    &__loader {
      margin-top: rem(128px);
    }
  }
}