@use "../../styles/partials/mixins" as *;

.search {
  height: 100%;
  @include flex-display(column);

  &__title {
    text-align: center;
    padding-top: rem(16px) !important;
  }

  &__results {
    flex-grow: 1;
  }

  &__results-title {
    margin-top: rem(32px) !important;
  }
}